#super{
    display: flex;
    justify-content: center;
}
#all {

    align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
}



#root {
    align-items: center;
    
}
