.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    min-width: 400px;
    position: fixed;
    background-color: gray;
    width: 100%;
    top: 0px;
    border-radius: 45px;
}

.navbar-container h3 {
    user-select: none;
    color: black;
}

#logo {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;
    width: 80px;
    height: 80px;
    background-color: rgb(65, 57, 57);
    border-radius: 50px;
    user-select: none;
    left: 0px;
    top: 0px;
}